/* css reser*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div.cabeça{
    margin-left: 50rem;
}


body{
    background-image: url(./assets/images/fundo2.jpg);
}

div.lado{
    background-color: #000;
    width: 100rem;
    height: 2rem;
    padding: 0;
}


a {
    position: relative;
    color: #fff;
    text-decoration: none;  
    font-style: 'Days One';
    margin-left: 5rem;
    margin-right: 0;
  }


  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }


  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  #divBusca{
    background-color:#FFF;
    border:solid 1px;
    border-radius:15px;
    width:14rem;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    top: 5rem;  
    font-style:italic;
    font-size:18px;
    border:none;
    height:2rem;
    width:14rem;
  }