header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-image: url('./assets/images/hero.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 12.5rem;
    padding-left: 7rem;
}   

div.centro{

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 1px;
    border: 300px ;
    width: 600px;
    height: 600vh;
    position: absolute;
    top: 45%;
    left: 35%;
    margin: -50px 0 0 -50px;
    margin-top: 1vh;        
}
head{
       width: 300px;
        height: 300px;
        background: #f00;
}
